* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

#header {
    background-color: rgb(33, 109, 207);
    max-width: 100%;
    width: 100%;
    max-height: 5rem;
    height: 4rem;
}


#cabecalho {
    color: #ffffff;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#form {
    background-color: #ffffffd8;
    width: 60%;
    height: 60%;
    left: 35%;
    margin: -130px 0 0 -210px;
    padding: 10px;
    position: absolute;
    top: 40%;
}

#titulo {
    color: #000000;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#pdf{
    color:rgb(6, 111, 248);
}

#url{
    margin: 5rem 0 0 13rem;
    width: 25rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 0.5rem;
    border-radius: 10px;
    border: 0.5px solid #000000;
}

#url:valid{
    border: 1px solid rgb(33, 109, 207);
}

#button{
    width: 14rem;
    height: 2.5rem;
    margin: 7rem 0 0 19rem;
    background-color:  rgb(33, 109, 207);
    color: #ffffff;
    font-size: 16px;
    border: 0.5px solid #000000;
    border-radius: 10px;
}

#qrcode{
    position: relative;
    left: 5rem;

}